<div class="container">
    {{#eq userId user.id}}
    <h1>Welcome, <span class="brightYellow pulse username">{{user.username}}</span> </h1>
    <a data-target="modal2" class="btn sunsetorange waves-effect modal-trigger pulse black-text" id="newPost">Create Post</a>
    {{else}}
    <h1><span class="brightYellow pulse username">{{user.username}}'s Profile</span></h1>
    {{/eq}}


    <h3>Posts</h3>
    <div class="divider"></div>
    {{#each user.posts}}
    {{> postCard user=../user sesId=../userId}}
    {{/each}}

    <h3>Comments</h3>
    <div class="divider"></div>
    {{#each user.comments}}
    {{> commentCard user=../user sesId=../userId}}
    {{/each}}
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Creating New Post...</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="postTitle" type="text" class="validate">
                        <label for="postTitle">Post Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="postBody" class="materialize-textarea"></textarea>
                        <label for="postBody">Post Body</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/dashboard" class="modal-close waves-effect waves-green btn-flat" id="submitPost">Post</a>
    </div>
</div>


<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>