<div class="row">
    <div class="col 12">
        <div class="card magenta">
            <div class="card-content white-text">
                <span class="card-title">Login or Create an Account</span>
                <div class="row">
                    <form class="col 12">
                        <div class="row">
                            <div class="input-field col 12 center-align">
                                <input placeholder="Enter Username" id="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col 12">
                                <input placeholder="Enter Password" id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-action">
                <button id="login" class="btn waves-effect orange black-text">Login</button>
                <button id="createAccount" class="btn waves-effect orange black-text">Create Account</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>